fieldset {
    background-color: rgb(241, 241, 241);
}

#canvas {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
}

#properties-panel {
    z-index: 2;
    right: -80px;
    left: unset;
    width: 200px;
}

#diagramControls {
    z-index: 2;
    position: fixed;
    top: 10px;
    left: 10px;
}

.djs-palette, .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 70px;
    width: 96px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}